<configuration scan="true">
 <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>controller.log</file>
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss.S} %-5level [%logger{15}] %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss.S} %-5level [%logger{15}] %msg%n</pattern>
    </encoder>
  </appender>
  <root level="DEBUG">
    <appender-ref ref="FILE" />
  </root>
  <logger name="io" level="INFO"></logger> <!-- Netty logging -->
  <logger name="LogService" level="DEBUG"/> <!-- Restlet access logging -->
  <logger name="net.floodlightcontroller" level="INFO"/>
  <logger name="org.sdnplatform" level="INFO"/>
</configuration>
